html,
body {
  background-color: #fff;
  font-family: "Helvetica", "Arial", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #369;
  padding: 10px 0;
}

.header > h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 20px auto;
  width: 352px;
}

.board {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  user-select: none;
}

.row {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.row > div {
  background: #ddd;
  border: 1px solid #ccc;
  height: 52px;
  position: relative;
  width: 52px;
}

.row .suggested.one {
  box-shadow: inset -3px 3px #8d2;
}

.row .suggested.two {
  box-shadow: inset 3px -3px #f93;
}

.row .suggested.one.two {
  box-shadow: inset -3px 3px #8d2, inset 3px -3px #f93;
}

.row .big:after,
.row .little:after {
  border-radius: 50%;
  content: "";
  position: absolute;
}

.row .big:after {
  height: 32px;
  left: 10px;
  top: 10px;
  width: 32px;
}

.row .little:after {
  height: 16px;
  left: 18px;
  top: 18px;
  width: 16px;
}

.row .one:after {
  background: #8d2;
}

.row .two:after {
  background: #f93;
}

.piece-selected .row > .empty {
  cursor: pointer;
}

.piece-selected .row > .empty:hover {
  background: #eee;
}

.piece-selected .row > .empty:active {
  background: #ccc;
}

.pieces {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.pieces > div {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.pieces > div:nth-child(1) {
  flex-direction: row-reverse;
}

.pieces > div > div {
  height: 52px;
  position: relative;
  width: 52px;
}

.pieces .big:after,
.pieces .little:after {
  border-radius: 50%;
  content: "";
  position: absolute;
}

.pieces .big:after {
  height: 32px;
  left: 10px;
  top: 10px;
  width: 32px;
}

.pieces .little:after {
  height: 16px;
  left: 18px;
  top: 18px;
  width: 16px;
}

.pieces .big.suggested:after,
.pieces .little.suggested:after {
  box-shadow: inset -4px 3px #58a;
}

.pieces .big.selected:after,
.pieces .little.selected:after {
  outline: 3px solid #69b;
}

.pieces .big:not(.selected),
.pieces .little:not(.selected) {
  border-radius: 6px;
  cursor: pointer;
}

.pieces .big:not(.selected):hover,
.pieces .little:not(.selected):hover {
  background: #eee;
}

.pieces .big:not(.selected):active,
.pieces .little:not(.selected):active {
  background: #ccc;
}

.pieces > div:nth-child(1) > div:after {
  background: #8d2;
}

.pieces > div:nth-child(2) > div:after {
  background: #f93;
}
